* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(./imgs/cursor.png),auto;
}
body {
  background-image: url("./imgs/background.png");
  background-size: cover;
  position: relative;
}
/* heading cố định cho dù kéo xuống như nào đi  */
#MENU {
  background-color: rgba(23,21,44, 0.48);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* chỉnh màu chữ, xóa gạch chân của thẻ <a> */
#service-list a{
  font-size: 25px;
  text-decoration: none;
  color: white;
  transition: 0.1s;
  margin: 0 20px;
}
/* bo tròn quanh nút đăng nhập, đăng ký */
.log-regis{
  padding: 5px 20px 5px 20px;
  border: 1px solid gray;
  border-radius: 20px;
}
/* thay đổi hình dạng con chuột và làm cho chữ phát sáng */
a:hover{
  text-shadow: 0 0 25px #0ff, 0 0 50px #08f;
  cursor: url(imgs/hover.png), auto;
}

#container{
  display: grid;
  margin-top: 200px;
  grid-template-columns: 100px 100px 100px 100px;
}

.item{
  width: 100px;
  height: 50px;
  background-color: orange;
  gap: 30px;
}



